<?xml version="1.0"?>
<config>
  <api_id>ae46f960-802e-3dc4-e5d9-77d727a0dceb</api_id>
  <tel>79606745415</tel>
  <sity>34009</sity>
  <!-- 
  api_id # Индивидувльный идентификатор доступа к шлюзу sms.ru
  sity # Код города, выбран Курск, другие коды могут быть найдены на http://weather.yandex.ru/static/cities.xml (id)
  tel # Номер телефона, на который будет посылаться СМС 
  -->
</config>
